<div class="container" style="padding-top: 120px;">
    <h3>Acerca de Nosotros</h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut eius rem porro temporibus molestias illo obcaecati quo tempore vel, harum magni vero cupiditate asperiores ratione in qui modi velit culpa.
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus modi itaque expedita minus eius architecto eos. Sint neque aspernatur repudiandae ullam, laboriosam doloribus, voluptate esse, quos ut eos nemo praesentium!
    </p>
</div>