<div class="container" style="padding-top: 120px;">
    <h3>Equipo</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit tempora, beatae quas atque animi repellat magnam eveniet vero consequatur aliquid reiciendis, suscipit velit, minus quos nisi maiores vitae. Eos, doloribus!
    </p>
    <div class="row">
        <div class="col-4">
            <div>
                <img src="../../assets/img/silueta.png">
            </div>
            Integrante 1
        </div>
        <div class="col-4">
            <div>
                <img src="../../assets/img/silueta.png">
            </div>
            Integrante 2
        </div>
        <div class="col-4">
            <div>
                <img src="../../assets/img/silueta.png">
            </div>
            Integrante 3
        </div>
        <div class="col-4">
            <div>
                <img src="../../assets/img/silueta.png">
            </div>
            Integrante 4
        </div>
        <div class="col-4">
            <div>
                <img src="../../assets/img/silueta.png">
            </div>
            Integrante 5
        </div>
    </div>
</div>
